
.contact__container
{
    width: 60%;
    display: grid;
    grid-template-columns: 27% 60%;
    gap: 13%;
}

.contact__options
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option
{
    background:var(--color-bg-varient);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    transition: 400ms ease-in-out;
}

.contact__option:hover
{
    background: transparent;
    border: 1px solid var(--color-primary);
}
form
{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,textarea
{
    width: 100%;
    background: transparent;
    border: 1px solid var(--color-primary);
    padding: 1.3rem;
    border-radius: 1.3rem;
    color: white;
    font-family: inherit;
    font-size: 1rem;
}

.btn
{
    font-size: 1rem;
}

@media screen and (max-width:1024px)
{
    .contact__container
    {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
@media screen and (max-width:600px)
{
    .contact__container
    {
        width: var(--container-width-ms);
    }
}